body {
    background-color: #f5f7fb;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Register Card */
.register-card {
    background-color: #1e293b;
    border-radius: 8px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

/* Text Insed Card */
.register-card h3,
.register-card p {
    color: #f8fafc;
}

/* Logi dan Title */
.register-logo h3 {
    font-weight: 700;
    letter-spacing: 1px;
    color: #ffffff;
}

.driverent-link h3 {
    text-decoration: none;
    margin-left: 8px;
}

/* from-floating */
.form-floating > .form-control {
    background-color: #ffffff;
    color: #0f172a;
    border-radius: 8px;
    border: 1px solid #ced4da;
}

/* Label default (terlihat) */
.form-floating > label {
    color: #64748b;
}

/* Label saat fokus atau ada isi */
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label {
    color: #64748b;
}

/* Input focus */
.form-floating > .form-control:focus {
    border-color: #0d6efd;
    box-shadow: none;
}

/* Button */
.btn-primary {
    background-color: #0d6efd;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    color: #ffffff;
}

/* Link */
.register-card a {
    color: #0d6efd;
    font-weight: 500;
    text-decoration: none;
}

.register-card a:hover {
    text-decoration: underline;
}

/* Alert */
.alert {
    border-radius: 6px;
}

.text-danger {
    font-size: 0.85rem;
}
